html,
body {
  height: 100%;
}
body {
  background: #540f39;
  background: radial-gradient(ellipse at center, #6b0d6b 0%, #000000 70%);
  background-size: 100%;
}
span {
  margin: 0;
  padding: 0;
}
.timer {
  font-family: ‘Share Tech Mono’, monospace;
  color: #110101;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #84a021;
  text-shadow: 0 0 20px rgb(201, 108, 154), 0 0 20px rgba(236, 212, 224, 0);
}
.field {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.value {
  letter-spacing: 0.05em;
  font-size: 80px;
  padding: 5px 0;
}
